.nav
{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
}
.nav_content 
{
    display: grid;
    width: 100%;
}
.nav_content img 
{
    display: flex;
    width: 30px;
    justify-self:flex-end ;
    position: fixed;
    cursor: pointer;
    top: 20;
}
.nav__black
{
    background-color: #000;
}
