.SignupScreen{
    max-width: 400px;
    padding: 70px;
    background-color: rgba(0,0,0,.85 );
    margin-left: auto;
    margin-right: auto;
}
.SignupScreen form
{
    display: flex;
    flex-direction: column;
}
.SignupScreen form input
{
    outline: 0;
    border: 0;
    height: 40px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 5px;
}
.SignupScreen form button
{
    padding: 16px 20px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    background-color: #fc0a0a;
    margin-bottom: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    
}
.SignupScreen form h4
{
    color: gray;
    font-size:small;
    font-weight: 300;
}
.SignupScreen form h4 span
{
    color: #fff;
}
.SignupScreen form h4:hover span{
    text-decoration: underline;
}


